<strong>Olá, {{ deliverer }}</strong>
<p>Você tem uma nova entrega disponivel</p>
<p>
  <strong>Produto: </strong> {{ product }} <br/>
  <strong>Destinatario: </strong> {{ name }} <br />
  <strong>Rua: </strong> {{ street }} <br />
  <strong>Numero: </strong> {{ number }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Postcode: </strong> {{ postcode }} <br />
</p>
